# Data Types and Stuructures

#Theoritical questions

1. What are data structures, and why are they important?
  - Data structure of organizing and storing data so that it can be accessed and manipulated effeciency.
  - Efficient Data management: Organizes data in a way that makes access and manipulation easier>
  - Solves Complex promblems: Enables implementation of advanced algorithms, making it possible to solve real - world challenges like navigation, scheduling, and more.
  - Scalability: Supports buliding software that can handle large and growing dataset efficiently.
  - Reusability: Many darta structures are reusable across doffrent applications, saving devlopement time.

2. Explain the difrrence between mutable and immutable data types with examples.
 - Mutable and immutable data types refer to whether an object can be modified after it is created.
 - Mutable Data Types: Object whose values can be changed after creation>
 - Immutable: Objectv whose values cannot be changed after creation. Any opration that appers to modify an immutable object creates a new object.

In [1]:
# Mutable example
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [2]:
# Immutable example
my_tuple = (1, 2, 3)
# my_tuple[0] = 10 #This wuid raise a Typeerror
print(my_tuple)

(1, 2, 3)

3. What are the main diffrences between lists and tuples in python?

- Lists: Mutable, meaning you can modify their content(add, remove, or change elements.)
-Lists: Defined with square brackets[].
- Lists: Slower than tuples for iteration and operations due to their mutable nature.
- Tuples: Immutable, meaning their content cannot be modified after creation
- Tuples: Defined with parenttheses().
- Tuples: Faster because they are immutable and their memory usage is more efficient.

4. Describe how dictionaries store data.
- Dictinaries in python store data as key-vvalue pairs in a structure called a hash table . This design allows for fast access, insertin , and deletion of elemnents, typically in comstant time 0(1)o(1).

In [3]:
my_dict = {"name": "Alice", "age": 25 , "city" : "New york"}
print(my_dict["age"])

25

5. Why might ypu use a set instead of a list in python?
- We might use a set instead of a list in python when.
- No Duplicates allowed: sets automatically remove duplicate elements.
- Fast Membership tests: Checking if an item exists in a set is faster (avrage 0(1)complexity) comapred to a list (o(n) complexity).
- Unorderd Collection: you don't ned to maintain the order of elements.

6. What is a string in python, and how is it diffrent from a list?
- A string in python is a sequence of characters enclosed in quotes (single, double or triple quotes).For example, "hello" or 'world'. Strings are used to represnt text. String is mutable it cannot changed. it only contains characters but list are mutable it will changed. List contain any type of element.

7. How do tuples ensure data intergrity in python?
- Tuples ensure data intergrity in python primarily through immutablity. Once a tuple is created, ts elemnets cannot be modified, added , or removed . This makes tuples a reliable choice for storing data that should remain constant  throghout the program.

8. What is a hash table, and how does it relate to dictionaries in python?
- A hash table is a data structure that proves a way to store and retrieve
data effciently using a key-value pair mechanism. it uses a hash function to compute a unique index (or hash code) for each key, which determines where to corresponding value is stored.

9. Can lists in python can contain diffrent data types.
- Yes, lists in python can contain diffrent data types.

In [4]:
my_lists = [1, "hello", 3.14, True]
#This list contains an integer , a sting, a float , and a boolean value.

10. Explain why strings are immutable in python?
 - Strings in python are "immutable" which means they cannot be changed after they are created.Some other immutable data types are integers ,float ,boolean, etc. The immutablity of python string is very useful it helps in hashing , performance optimization , safety, ease of use , etc.

11. What advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries have several advantages over lists for certain tasks. including faster lookups, easier code reading, more flexbility in storing data.

12. Describe a scenario where using a tuple would be preferable over a list.
- A scenario where a tuple would be preferable over a list is when you need to store a collection of data that should never be modified after it's a created , like representing a set of fixed coordinates in a game , storing configuration settings that shouldun't be chnaged during program execution, or defining a data structure where immutability is important for data intergrity,ensuring that the values remian consistent throughout the program.

13. How do sets handle duplicvate values in Python?
- Sets in python automatically handle duplicate values by discarding them. When you create a set or add elements to it, any duplicate values are simply ignored, ensuring that the set contains only unique elements.

14. How does thr "in" keyword work diffrently for lists and dictionaries?
- When using the "in" keyword, it checks if an element exists within a list by comparing it to each item in the list based on its position , while in a dictionary , it checks if a specific key exists within the key value pairs , meaning it only looks for the key and not the associated value.

15. Can you modify the elements of a tuple? Explain why or why not?
- No , you cannot modify the elements of a tuple in python because tuples are "immutable" , meaning once created , their elements cannot be changed , added or removed if you try to modify a tuple element , you willl encounter a TypeError.

16. What is a nested dictionary ,a nd givean example of its use case?
- Nesting Dictionary means putting a dictionary inside another dictionary . Nesting is of great use as the kind of information we can model in program in expanded greatly.

17. Describe the time complexity of accessing elements in a dictionary.
- The time complexity of retrieving a value by its key in a dictionary is 0(1). This is beacuse dictionaries use a hash table internally which allows constant time lookup. why 0(1)? Hash tables use the hassh of the key to find the memory loction which enables direct access.

18. In what situations are lists preferred over dictionaries?
- Lists are prefrred over dictionaries when the order of elements , or when you need to access data based on its position in the sequence (using indexes), rather than a unique key to look up a value.

19. Why are diictionaries considered unordered ,and how does that affect data retrieval?
- Dictionarioes in python are historically considered unoredred collections because the oreder if items was not guranteed to be preserved in earlier versions of python (prior to version 3.7 ). staring with python3.7, dictionaries are oredered by insertion order as an implementation detail (and it was officially guranteed staring with python 3.8). However , some older explanations and habits still describe them as unordered due to thier original behaviour .

20. Explain the diffrence between a list and a doctionary in terms of data retrieval.
- A list retrieves data using its index position (a number starting from 0), while a dictionary retrieves data using a specific key, meaning you access elements in a list based on their order in the sequence, whereas in a dictionary , you access elements by providing a unique identifier(the key) that maps to the desired value this makes dictionaries significantly faster for lookups when you need to find specific piece of data quickly based on a known key.

#Practical questions

1. Write  acode to create a string with your name and print it.

In [1]:
Name = "Helly shah"
print(Name)

Helly shah

2. Write a code to find the length of the string "Hello World".

In [2]:
len_nam = "Hello World"
print(len(len_nam))

11

3. Write a code to slice the first 3 characters form the string "Python Programming".

In [3]:
slic = "Python Programming"
print(slic[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
up_str = "hello"
up_str .upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "i like apple".

In [5]:
text = "I like apple"
new_text = text.replace("apple" , "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [8]:
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9. Write a code to access the second element in the list['a','b','c','d'].

In [9]:
alp = ['a','b','c','d']
print(alp[1])

b

10. Write a code ro reverse the list [10,20,30,40,50].

In [10]:
num = [10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with elements 10,20,30 and print it.

In [11]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple('apple' , 'banana','cherry')

In [12]:
fruits = ('apple', 'banana' , 'cheery')
first_fruit = fruits[0]
print(first_fruit)

apple

13. Write a code to count how many times the number 2 appears in the tuple(1,2,3,2,4,2).

In [13]:
numbers = (1,2,3,2,4,2)
count = numbers.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit').

In [14]:
animals = ('dog' , 'cat' , 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15. Write a code to check if the element "banana" is in the tuple ('apple','orange','banana').

In [15]:
fruits = ('apple' , 'orange', 'banana')
is_banana_in_tuple = 'banana' in fruits
print(is_banana_in_tuple)

True

16. Write a code to create a set with the elements 1,2,3,4,5 abd print it.

In [16]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1,2,3,4}.

In [19]:
my_set ={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10,20,30 and print it.

In [20]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple('apple'.'banana','cheery').

In [21]:
fruits = ('apple', 'banana', 'cheery')
first_fruit = fruits[0]
print(first_fruit)

apple

20. Write a code to count how many times the number 2 appears in the tuple(1,2,3,2,4,2).

In [22]:
numbers = (1,2,3,2,4,2)
count = numbers.count(2)
print(count)

3

21. Write a code to find the index of the element "cat" in the tuple('dog','cat'.'rabbit')

In [23]:
animals = ('dog','cat','rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

22. Write a code to check if the element "banana" is in the tuple('apple','orange','banana').

In [ ]:
# this question solved in question 15

23. Write a code to crate a set wity the elements 1,2,3,4,5, and print it.

In [24]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1,2,3,4}.

In [ ]:
# again same question i solved in question number 17.